<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pucitcgpacalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PUCITCGPACalculator">
        <activity android:name=".result_cgpa"> </activity>
        <activity android:name=".result_sgpa" />

<!--        <activity-->
<!--            android:name=".SGPA2_ScrollingActivity"-->
<!--            android:label="@string/title_activity_sgpa2_scrolling"-->
<!--            android:theme="@style/Theme.PUCITCGPACalculator.NoActionBar" />-->

<!--        <activity android:name=".SgpaActivity2nd" />-->
        <activity android:name=".CGPAActivity3" />
        <activity android:name=".SGPAActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>